/*Use styled components next time*/

.navBar {
  /* background-color: #007bff; */
  /* display: flex; */
  position: sticky !important;
  top: 0px;
  z-index: 1;
}

.collapse {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.brand {
  display: flex;
}

.link {
  display: flex !important;
  flex-direction: column;
  margin-right: 0.25rem;
}

/* .link::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  align-self: center;
  height: 1px;
  width: 120%;
  transition: width 0.5s ease-in-out;
}

.link::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  align-self: center;
  height: 1px;
  width: 0%;
  transition: width 0.5s ease-in-out;
}

.link:hover::before {
  width: 0%;
  transform: width;
}

.link:hover::after {
  transform: width;
  width: 120%;
} */

.form {
  display: flex;
  flex-wrap: nowrap;
}

.searchBar {
  margin-right: 0.25rem;
  min-width: 0px;
  max-width: 200px;
  align-self: center;
}

.searchButton {
  border: none;
  /* border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px; */
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  outline: none;
  align-self: center;
}

.searchButton:focus {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
}

.img {
  align-self: center;
}

.profile {
  align-self: center;
}

@media only screen and (max-width: 575px) {
  /* .navBar {
    background-color: #343434;
  } */

  .collapse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .links {
    order: 2;
    align-self: flex-start;
  }

  /* .link {
    border-top: none;
  }

  .link::before {
    display: none;
  }

  .link::after {
    display: none;
  }

  .link:hover {
    border: none;
  } */

  .form {
    flex-basis: 0%;
    flex-grow: 1;
    margin-right: 0.25rem;
  }

  .profile {
    order: 3;
    align-self: flex-start;
    text-align: left;
  }
}

@media only screen and (max-width: 250px) {
  .form {
    display: none;
  }
}
