.navBar {
  background-color: #343434;
}

.navTop {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  /* justify-content: flex-start !important; */
  /* width: 100%; */
}

.collapse {
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex !important;
  flex-direction: column;
  margin-right: 5px;
}

.link::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  align-self: center;
  height: 1px;
  width: 120%;
  transition: width 0.5s ease-in-out;
}

.link::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  align-self: center;
  height: 1px;
  width: 0%;
  transition: width 0.5s ease-in-out;
}

.link:hover::before {
  width: 0%;
  transform: width;
}

.link:hover::after {
  transform: width;
  width: 120%;
}

.form {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.searchBar {
  margin-right: 5px;
  min-width: 0px;
}

.searchButton {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.searchButton:focus {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

@media only screen and (max-width: 575px) {
  .navBar {
    background-color: #343434;
  }
  .navTop {
    width: 100%;
  }

  .collapse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .links {
    order: 2;
    align-self: flex-start;
  }

  .link {
    border-top: none;
  }

  .link::before {
    display: none;
  }

  .link::after {
    display: none;
  }

  .link:hover {
    border: none;
  }

  .form {
    order: 1;
    align-self: flex-start;
    /* display: none; */
  }

  .searchBar {
    margin-top: 3px;
  }

  /* .img {
    margin-top: 2px;
  } */

  .profile {
    order: 3;
    border-top: none;
    align-self: flex-start;
    text-align: left;
  }
}
