/* dropdown styling and Nav grid area */
/*Use styled components next time*/

#navbar {
  grid-area: nav;
}

/* #responsive-navbar-nav > button {
  all: unset;
  color: #dc3545;
} */

/* #responsive-navbar-nav > button:focus {
  outline: 1px dotted black;
} */

/* #responsive-navbar-nav > div.Nav_profile__297M-.navbar-nav > div > div {
  background-color: #343434;
} */

/* #responsive-navbar-nav > div.Nav_profile__297M-.navbar-nav > div > div a {
  background-color: #343434;
  color: rgba(255, 255, 255, 0.5);
}

#responsive-navbar-nav
  > div.Nav_profile__297M-.navbar-nav
  > div
  > div
  a::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  height: 1px;
  width: 0px;
  transition: width 0.5s ease-in-out;
}

#responsive-navbar-nav > div.Nav_profile__297M-.navbar-nav > div > div a:hover {
  background-color: #343434;
  color: rgba(255, 255, 255, 0.8);
}

#responsive-navbar-nav
  > div.Nav_profile__297M-.navbar-nav
  > div
  > div
  a:hover::after {
  content: "";
  transform: width;
  height: 1px;
  width: 60%;
} */

#responsive-navbar-nav
  > div.Nav_profile__297M-.navbar-nav
  > div
  > div
  > a:nth-child(4)
  > form
  > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 0rem;
}

/* @media only screen and (max-width: 575px) {
  #responsive-navbar-nav > div.Nav_profile__297M-.navbar-nav > div > div {
    background-color: #343434;
    border: none;
  }

  #responsive-navbar-nav
    > div.Nav_profile__297M-.navbar-nav
    > div
    > div
    a::after {
    display: none;
  }
} */
