/* dropdown styling and Nav grid area */
/*Use styled components next time*/

#navbar {
  grid-area: nav;
}

#responsive-navbar-nav
  > div.Nav_profile__297M-.navbar-nav
  > div
  > div
  > a:nth-child(4)
  > form
  > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 0rem;
}

@media only screen and (max-width: 575px) {
  #responsive-navbar-nav > div.Nav_profile__297M-.navbar-nav > div > div {
    min-width: calc(100vw - 3rem);
  }
}
