/* @import-normalize; */

.App {
  /* background-color: #eaeaea; */
  background-color: #dae0e6;
  text-align: center;
  font-size: 2.5vh;
  font-family: "Guardian Text Egyptian Web", Georgia, serif;
  color: rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: 4rem auto auto;
  grid-template-areas:
    "header header"
    "nav nav"
    "main sidebar";
}

@media (max-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4rem auto auto;
    grid-template-areas:
      "header"
      "nav"
      "main";
  }
}

* {
  padding: 0px;
  margin: 0px;
}
